*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: darkblue;
}
.container{
width: 90%;
margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 15px 25px; 

}

.logo{
    max-width: 10%;
}

.logo img{
    width: 100%;
}
.pages{
width: 70%;
}

.pages ul{
    display: flex;
    justify-content: space-between;
}


ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

}

ul li{
    list-style-type: none;
}

